
p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777; 
}

h2 {
 
  
  font-weight: 900;
  color: #222;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; 
}


body {
  font-size: 14px;
  color: #222;
  font-weight: 400;
  background-image: url("https://ze-robot.com/images/source/33929.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 30px 0; 
}

.container {
  width: 600px;
  position: relative;
  margin: 0 auto; 
  
}
.showp i{
    float: right;
    margin-right: 8px;
     margin-top: -30px;
   position: relative;
    cursor: pointer;

}



.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.all {
  background: #fff;
  border-radius: 10px;
  padding: 50px 85px; 
  
}

.form-group {
  
  margin-bottom: 20px; 
}

.info {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}

.signup {
  width: 100%;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
}



.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px;
 }

.loginhere-link {
  font-weight: 700;
  color: #222; 
}

#submit {
  border: 1px solid white;
  background: transparent;
  color: black !important;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  
  }
  #submit:hover {
    color: black !important;
    font-weight: 700 !important;
    border: 1px solid black; 
    letter-spacing: 3px;
    background: none;
    transition: all 0.3s ease 0s;
  }
